h1 {
    font-family: 'Times New Roman', Times, serif;
    color: #035eae;
    font-size: 3rem;
    width: 100%;
    margin: 0;
    background-color: #FF8A00;
    text-align: center;
    position: fixed;
    top: 0;
}

.container {
    border: 3px solid black;
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: row; /*自己手動調 row row-reverse column column-reverse */
    justify-content: center; /*自己手動調 flex-start flex-end center space-around space-between space-evenly */
    align-items: center; /*自己手動調 flex-start flex-end  center end*/
    flex-wrap: wrap;
    /* align-content: center; */
}

.box{
    width: 100px;
    height: 100px;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
    /* display: flex;
    align-self: center; */
}

.yellow {
    background-color: yellow;
}